:root {
  --primary-color: #3D4A66;
  --secondary-color: #576c8e;
  --mouse-over-color: #43F0F1;
  --s-font-size:12px;
  --m-font-size:14px;
  --l-font-size:16px;
  --form-bg-color:#f2f2f2;
}

body{
  margin-top: -20px;
}
